.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
}
a.navbar-brand::after {
    content: ' API';
    color:orangered;
    font-size: 14px;
    vertical-align:top;
}
.modal-dialog {
    padding-top:300px;
}
#resultContainer img {
    padding-top: 25px;
    width: 100%;
    height: auto;
}
#settingsContent {
    margin-top: -18px;
}
#settingsContent div.card {
    border-radius: 0 0 0.25rem 0.25rem;
}
#delaySliderGroup {
    margin-right: 32px;
}
.mt-15 {
    margin-top: 15px !important;
}
#scrollToTopButton {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    z-index: 9999;
}
#scrollToTopButton:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.5s;
}
#scrollToTopButton.fade-in, 
#scrollToTopButton.fade-out {
    transition: opacity 0.5s;
} 
#scrollToTopButton.fade-out {
    opacity: 0;
}
#scrollToTopButton.fade-in {
    opacity: 1;
}